@model HotelDb.WebUI.Models.BookingViewModel

@{
    ViewData["Title"] = "Create";
}
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.ClientId" class="control-label"></label>
                <select asp-for="Booking.ClientId" asp-items="Model.SelectListClient" class="form-control"></select>
                <span class="badge badge-light">
                    @Html.ActionLink("Add New Client", "Create", new { })
                </span>
                <span asp-validation-for="SelectListClient" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Booking.DayFrom" class="control-label"></label>
                <input asp-for="Booking.DayFrom" class="form-control" />
                <span asp-validation-for="Booking.DayFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.DayTill" class="control-label"></label>
                <input asp-for="Booking.DayTill" class="form-control" />
                <span asp-validation-for="Booking.DayTill" class="text-danger"></span>
            </div>


            <div class="form-actions no-color input-group">
                <div class="input-group mb-3">
                    <label asp-for="GuestId" class="control-label"></label>
                    <select asp-for="GuestId" asp-items="Model.SelectListGuest" class="form-control"></select>
                    <span asp-validation-for="GuestId" class="text-danger"></span>
                    <div class="input-group-append">
                        <input type="submit" name="bookingButton" value="AddGuest" class="btn btn-light btn-sm" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.GuestList)
                <div class="form-control">
                    @foreach (var item in Model.ShowSelectedGuests)
                        @(item + ", ")
                </div>
            </div>
            @if (Model.GuestList != null)
                for (var i = 0; i < Model.GuestList.Count; i++)
                    @Html.HiddenFor(model => Model.GuestList[i].ClientId)


            <div class="form-actions no-color input-group">
                <div class="input-group mb-3">
                    <label asp-for="RoomId" class="control-label"></label>
                    <select asp-for="RoomId" asp-items="Model.SelectListRoom" class="form-control"></select>
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                    <div class="input-group-append">
                        <input type="submit" name="bookingButton" value="AddRoom" class="btn btn-light btn-sm" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.RoomList)
                <div class="form-control">
                    @foreach (var item in Model.ShowSelectedRooms)
                        @(item.ToString() + ", ")
                </div>
            </div>
            @if (Model.RoomList != null)
                for (var i = 0; i < Model.RoomList.Count; i++)
                    @Html.HiddenFor(model => Model.RoomList[i].RoomId)
            
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.WithKids" />
                    @Html.DisplayNameFor(model => model.Booking.WithKids)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Info" class="control-label"></label>
                <input asp-for="Booking.Info" class="form-control" />
                <span asp-validation-for="Booking.Info" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Invoice.TotalPrice" class="control-label"></label>
                <div class="form-control">
                    @Model.Invoice.TotalPrice
                </div>
            </div>
            <input type="hidden" id="Invoice.TotalPrice" name="Invoice.TotalPrice" value="@Model.Invoice.TotalPrice" />

            <div class="form-group">
                <input type="submit" name="bookingButton" value="Save" class="btn btn-primary" />
                <input type="submit" name="bookingButton" value="AddInvoice" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
