@model IEnumerable<HotelDb.WebUI.Models.HolidayListModel>

@{
    ViewData["Title"] = "ShowAll";
}

<table class="table col-md-6 mx-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolidayDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayName)
            </td>
            <td>
                <span class="badge badge-light">
                    @Html.ActionLink("Delete", "Delete", new { item.HolidayId })
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
