@model IEnumerable<HotelDb.WebUI.Models.ClientModel>

@{
    ViewData["Title"] = "Search";
}

<form asp-action="Search" method="post">
    <div class="form-actions no-color input-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="SearchString" placeholder="Enter any valid information" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Show" class="btn btn-light btn-sm" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFullAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo)
            </th>
            <th>
            </th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientFullAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientInfo)
                    </td>
                    <td>
                        <span class="badge badge-light">
                            @Html.ActionLink("Edit Client", "Edit", new { id = item.Id })
                        </span>
                        <span class="badge badge-light">
                            @Html.ActionLink("Booking History", "History", new { id = item.Id })
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>




