@model IEnumerable<HotelDb.WebUI.Models.RoomModel>

@{
    ViewData["Title"] = "ShowAll";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ready)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberBeds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ready)
                    </td>
                    <td>
                        <span class="badge badge-light">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </span>
                        <span class="badge badge-light">
                            @Html.ActionLink("Price", "ShowPrice", new { roomNumber = item.RoomNumber })
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
